html {
  box-sizing: border-box;
}

/* GET RID OF HORIZONTAL SCROLL BAR */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ------------------------------- */

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #070707;
  color: white;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
}

.text-size-md {
  font-size: 1.125rem;
  line-height: 1.4;
}

.grey-body-text {
  color: #929292;
}

small {
  font-size: 10px;
}

h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
}

/* SCROLLBAR */
/* width */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #121111;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  border: 3px solid #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-color: #555;
}

/* BRAND SECTION */

/* .main-content {
  padding-top: 24px;
} */

.brand-links {
  padding: 10px 0 30px;
  border-bottom: solid 1px #131313;
}

.brand-link-img {
  padding-right: 20px;
}

.about-text {
  margin-top: 20px;
}

/* MAIN SECTION */

.feature-heading {
  padding-top: 10px;
  margin-bottom: 30px;
}

.carousel-cards {
  margin-right: 20px;
}

.episodes-carousel {
  display: flex;
  overflow-x: scroll;
}

/* filter */
.filter {
  display: flex;
  padding: 40px 0 40px 0;
}

.dropdown button {
  background-color: transparent;
  padding-top: 20px;
}

.dropdown-styling {
  background-color: #070707;
}

.dropdown-styling li a {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.dropdown-styling li a:hover {
  cursor: pointer;
  background-color: #121212;
  color: #fff;
}

#search-input {
  color: #fff;
  width: 220px;
  height: 3.75rem;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 500rem;
  background-color: #121212;
  background-image: url(https://assets.website-files.com/62e30551efc822c309ab67f3/62e31559dd5372b6e284826b_search%201.svg);
  background-position: 16px 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  font-size: 14px;
  text-align: center;
}

#search-input:focus {
  border-color: #48a44f;
  color: #fff;
}

/* GETS RID OF DEFAULT SEARCH INPUT STYLING */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* podcast-item */
#podcast-item {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #181818;
  display: flex;
  background: #070707;
  transition-property: background;
  transition-duration: 0.8s;
}

#podcast-item:hover {
  background-color: #121212;
}

.podcast-item-bottom {
  display: flex;
}

.listen-btn {
  background-color: #48a44f;
  height: 42px;
  padding: 0 20px;
  margin: 12px 0 0;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
}

.listen-img {
  width: 12px;
  margin-right: 10px;
}

/* Load more button */
.load-more-with-arrow {
  display: flex;
}

.bi-arrow-down,
bi-arrow-left {
  color: #929292;
}

.secondary-btn {
  background: #000;
  border: 2px solid rgb(35, 35, 35);
  height: 50px;
  padding: 0 35px;
  margin: 12px 0 0;
  color: #929292;
  border-radius: 50px;
}

#load-more {
  margin-top: 35px;
}

.secondary-btn:hover {
  color: #fff;
  border-color: rgb(63, 62, 62);
}

/* PODCAST PAGE STYLING */

.episode-container {
  margin-top: 20px;
}

.episode-title {
  margin-top: 40px;
}

.green-text {
  color: #48a44f;
}

/* MEDIA QUERIES */
@media screen and (min-width: 994px) {
  .main-content {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
  }
  .brand-section {
    min-width: 400px;
    width: 30%;
    overflow-y: scroll;
    background-color: #121111;
    position: fixed;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .brand-container {
    margin: auto;
    width: 80%;
    margin-top: 40px;
  }

  #brand-logo {
    margin-bottom: 40px;
  }

  .main-section {
    width: 70%;
    margin-left: auto;
    padding: 35px;
  }

  .current-episode {
    display: flex;
  }

  #brand-logo {
    width: 315px;
    height: 315px;
  }
}

@media screen and (max-width: 767px) {
  .main-content {
    display: block;
    position: relative;
    height: auto;
    min-height: 100vh;
    align-content: center;
    width: 90%;
    margin: auto;
  }

  #brand-logo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  #brand-logo-container {
    margin: 0 auto;
  }

  .about-head {
    text-align: center;
    font-size: 0.8rem;
  }

  #episode-img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 993px) {
  .main-content {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
  }
  .brand-section {
    min-width: 300px;
    width: 30%;
    overflow-y: scroll;
    background-color: #121111;
    position: fixed;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .main-section {
    width: 70%;
    margin-left: auto;
    padding: 35px;
  }

  .brand-container {
    margin: auto;
    width: 80%;
    margin-top: 20px;
  }

  #brand-logo {
    width: 250px;
    height: 250px;
    /* margin: 0 auto; */
    display: block;
    /* padding-top: 20px; */
    padding-right: 25px;
    margin-bottom: 20px;
  }

  #brand-logo {
    margin-bottom: 40px;
  }

  #episode-img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #search-input {
    width: 150px;
    font-size: 0.7rem;
  }

  .dropdown {
    font-size: 0.7rem;
  }
}
